.select-customer-location-button-navbar {
  display: inline;
  height: unset !important;
  line-height: unset !important;
  &::before{
    display: none;
  }

  svg {
    margin-right: 8px;
    min-width: 24px;
    min-height: 24px;
  }

  p.header-navbar-location-info{
    display: flex;
    margin: 0 0 0 10px;
    align-items: center;
    font-size: 15px;
    color: var(--base-80);
    flex-wrap: wrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
    >p{
      margin: 0 10px 0 0;
    }
    span {
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.1px;
      color: var(--base-110);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; 
    }
  }

}
