
.price {
  --price-color: #1A1A1A;

  font-size: 16px;
  line-height: 22px;
  word-break: break-all;
  overflow: hidden;

  ins {
    text-decoration: none;
    position: relative;
    color: var(--price-color);
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.simple {
    ins {
      font-weight: normal;
      color: #515151;
    }
  }

  &.discounted {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    del {
      font-size: 14px;
      line-height: 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ins { 
      color: var(--f7-theme-color);
      margin-right: 4px;
    }
  }
}

.theme-dark, &.theme-dark {
  .price {
    --price-color: #fff;
  }
}