#select-company-form-popup-page {
  padding: 21px 0;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 16px;

    h2 {
      margin: 0;
    }

    .icon {
      font-size: 21px;
      color: #1A1A1A;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 13px 16px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
