.catalog {
  @media screen and (min-width: 1024px) {
    padding: 0
      calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)) 0
      calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-inner:after {
    content: none;
  }

  .item-media {
    width: 104px;
    height: 132px;
  }

  .item-media {
    .image {
      position: absolute;
      width: 104px;
      height: 104px;
      border-radius: 16px;
      overflow: hidden;
      box-sizing: border-box;
      background: var(--base-10);

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .like-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .media-item {
    flex-basis: 100%;
    min-width: 0;

    .item-link {
      width: 100%;
      height: 100%;
    }

    .item-title-row {
      justify-content: flex-start;

      .feature-icon-crow {
        margin-left: 4px;
        padding-top: 2px;
      }
    }

    .item-title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: var(--f7-block-title-medium-text-color);
      margin-bottom: 4px;
    }

    .catalog-item-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (min-width: 750px) {
      flex-basis: 100%;
      min-width: 0;
      flex-basis: calc(33.33333333% - 16px);
      margin-right: 16px;
      margin-top: 2%;

      .item-title {
        white-space: initial;
      }

      .catalog-item-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    @media (min-width: 1024px) {
      flex-basis: calc(20% - 16px);

      .item-content {
        width: 100%;
      }

      .item-content {
        flex-direction: column;
        padding: 0;

        .item-media {
          padding: 0;
          width: 100%;
          height: 152px;
          position: relative;

          .image {
            width: 100%;
            height: 152px;
          }
        }

        .item-inner {
          margin: 0;
        }
      }
    }
  }

  .item-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--f7-list-item-subtitle-text-color);
    margin-bottom: 4px;
  }

  .item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--f7-text-color);
    margin-bottom: 8px;
  }

  .product-stats {
    display: flex;
    margin: 8px 0;

    & > div {
      margin-right: 6px;
    }
  }
}


//catalog list
.catalog-list{
  &-head{
    tr{
      th{
        font-size: 15px;
        color: var(--base-70) !important;
        font-weight: 400;
        text-align: left !important;
        &.checkbox-cell{
          .checkbox{
            .icon-checkbox{
              border: 2px solid #ABA9A9 !important;
              border-radius: 4px;
            }
          }
        }

      }
    }
  }
  &-row{
    &:hover{
      cursor: pointer;
      background: #a1a1a11a !important;
    }
    >td{
      min-height: 80px;
      height: auto !important;
    }
    &-checkbox{
      .checkbox{
        .icon-checkbox{
          border: 2px solid #ABA9A9 !important;
          border-radius: 4px;
        }
      }
    }

    &-media{
      display: flex;
      align-items: center;
      &-image{
        width: 56px;
        min-width: 56px;
        height: 56px;
        margin-right: 24px;
        border-radius: 12px;
        background-color: #f1f1f1;
        img{
          overflow: hidden;
          border-radius: 12px;
          width: 100%;
          height: 100%;
        }
      }
      &-name{
        font-size: 15px;
        color: var(--base-110);
      }
    }
    
    &-price{
      .price{
        ins{
          span{
            font-size: 15px;
            font-weight: bold;
            color: var(--base-110);
          }
        }
        &.discounted{
          justify-content: flex-end;
          ins{
            span{
              color: #EF5D54;
              margin-right: 8px;
            }
          }
          del{
            span{
              color: var(--base-110);
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
    }

    &-date{
      white-space: nowrap;
    }

    &-mob{
      display: none !important;
    }
  }
  @media screen and (max-width: 1280px) {
    &-head{
      th{
        padding-left: 1.5%;
        padding-right: 1.5%;
        max-width: 80px !important;
      }
    }
    &-row{
      td{
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
      &-price{
        .price{
          &.discounted{
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &-row{
      td{
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-head{
      display: none;
    }
    &-row{
      &-price, &-views, &-wish, &-date, &-status{
        display: none;
      }
      &-media{
        &-image{
          width: 80px;
          min-width: 80px;
          height: 80px;
          border-radius: 16px;
          margin-right: 12px;
          img{
            border-radius: 16px;
          }
        }
        &-name{
          display: none;
        }
      }
      &-mob{
        display: block !important;
        padding: 20px 0;
        >p{
          width: 100%;
          margin: 0 0 8px 0;
          font-size: 16px;
          font-weight: bold;
        }
        .product-status{
          margin-bottom: 8px;
        }
        .price{
          font-size: 16px;
          margin-bottom: 8px;
          &.discounted{
            ins{
              font-weight: 700;
            }
          }
        }
        &-view-wish{
          display: flex;
          align-items: center;
          .view-details{
            margin-right: 10px;
          }
        }
      }
    }
  }
}