#select_customer_location__sheet {
  .saved-addressess {
    .address-line {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: var(--base-80);
    }
  }
}
@media screen and (max-device-width: 567px) {
  .saved-addressess {
    height: 200px;
    overflow: scroll;
  }
}