.order-status-badge {
  margin-right: 10px;

  &-RF, &-MR, &-RP {
    background: rgba(86, 90, 184, 0.1);
    color: #6266C2;
  }

  &-SE {
    background: rgba(220, 155, 28, .1);
    color: #DC9B1C;
  }

  &-PA, &-MP, &-PRC, &-SHP, &-RCV {
    background: rgba(54, 172, 80, .1);
    color: #36AC50;
  }

  &-CA {
    background: rgba(227, 70, 70, 0.1);
    color: #E34646;
  }

  &-DLV {
    background: #EDEDED;
    color: #333333;
  }
}