.product-status-badge {
  font-weight: 500;
  border-radius: 4px;
  width: auto;
  padding: 10px 5px 10px 5px;
  border: 0;

  &-DRF { 
    background: rgba(103, 103, 103, .1);
    color: #676767;
  }
  &-AFR { 
    background: rgba(220, 155, 28, .1);
    color: #DC9B1C;
  }
  &-DCL { 
    background: rgba(227, 70, 70, .1);
    color: #E34646;
  }
  &-APR { 
    background: rgba(99, 205, 112, .1);
    color: #36AC50;
  }
  &-PBL { 
    background: rgba(54, 172, 80, .1);
    color: #36AC50;
  }
  &-SUS { 
    background: rgba(52, 172, 224, .1);
    color: #34ACE0;
  }
  &-EXP { 
    background: rgba(227, 70, 70, .1);
    color: #E34646;
  }
  &-OOS { 
    background: rgba(227, 70, 70, .1);
    color: #E34646;
  }
  &-DSC { 
    background: rgba(52, 172, 224, .1);
    color: #34ACE0;
  }
}