.navbar a.to-messenger-button {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: var(--base-80);
  text-indent: 1.2em;
}

.to-messenger-button .icon-back:after {
  font-size: 18px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
