.page[data-name="my-goods"] {
  &.empty {
    display: flex;
    flex-direction: column;

    .page-content {
      margin-top: auto;
      margin-bottom: auto;
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }

  @media screen and (min-width: 1000px) {
    .page-content > .row {
      max-width: none;
    }
  }
}
