#payment_card_create {
  .credit-card-list-item {
    .card-type {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      padding-top: 1px;
    }

    .input-clear-button {
      right: 48px;
    }
  }
}

.ios {
  #payment_card_create {
    .credit-card-list-item {
      .card-type {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      .input-clear-button {
        right: 48px;
      }
    }
  }
}
