.navbar {
  .autocomplete-dropdown {
    z-index: 9999;
  }

  .navbar-inner {
    overflow: visible;
    background-color: var(--base-0) !important;
    background: transparent;
    .right {
      .my_goods_product_details-actions{
        .button{
          font-size: 15px !important;
          height: 40px;
        }
      }
      @media screen and (max-width: 567px){
        .my_goods_product_details-actions{
          .button{
            height: 52px;
            margin: auto;
            width: fit-content
          }
        }
      }
    }
  }

  .navbar-center {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    // margin-left: 2%;

    // .select-customer-location-button-navbar {
    //   display: none;
    // }

    @media screen and (min-width: 1200px) {
      .select-customer-location-button-navbar {
        display: flex;
      }
    }

    @media screen and (max-width: 1439px) {
      .select-customer-location-button-navbar {
        span.highlight {
          display: block;
        }
      }
    }
  }
}

.subnavbar {
  .subnavbar-inner {
    padding: 0;
  }
}

.navbars {
  &.hide-nav-main{
    .navbar-main{
      top: 0;
    }
  }
  .navbar {
    z-index: 500;
  }
}

.vertical-line {
  /* Rectangle 17 */

  position: absolute;
  width: 1px;
  left: 145px;
  height: 32px;
  border-left: 138px;
  top: calc(50% - 32px/2);

  /* Light / 1. Base / 30 */
  background: #E6E6E6;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.navbar-container-delivery-top {
  height: 44px;
  width: 100%;
  background: #F3F3F3;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;

  a {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.navbar-shadow{
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
}

.navbar-main {
  margin-bottom: 5px;
  transition: 0.3s;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  &.show{
    top: 44px !important;
  }
  &.hide{
    top: 0 !important;
  }

  &.delivery-is-hide{
    top: 0 !important;
  }

  .navbar-inner {
    display: flex;

    .right {
      .nav-right-card-wish, .nav-right-card-share {
        margin-right: 10px;
        display: flex;
        
        a {
          width: 25px;
          min-width: unset;
          margin-left: 25px;
          padding-right: 0;
          padding-left: 0;
        }
      }
      .nav-right-card-share{
        margin-right: 25px !important;
      }
      .search-bar-cancel{
        width: 80px;
        font-weight: 500;
        font-size: 15px;
        color: var(--base-90);
      }
    }

    .navbar-center {
      justify-content: center;

      .search-container{
        max-width: 412px;
        width: 100%;
      }
      .navbar-container-location-web {
        margin-left: 10px;

        img {
          width: 18px;
        }
      }
    }
  }

  .navbar-container-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-container-location-web {
    a.link {
      padding-left: 0 !important;
    }
  }

  @media screen and (max-width: 1200px) {
    .navbar-inner{
      .left {
        .to-messenger-button {
          padding-right: 10px;
        }
  
        .navbar-logo-content {
          border-left: 1px solid #E6E6E6;
          height: unset;
          padding-left: 10px;
  
          .logo-container {
            i {
              width: 22px;
              margin-right: 5px;
            }
  
            .logo-text {
              font-size: 20px;
            }
          }
        }
  
        .vertical-line {
          display: none;
        }
      }
  
      .navbar-center {
        .search-container {
          max-width: 320px;
  
          .searchbar-inner {
            padding: 0 10px;
          }
        }
  
        .navbar-container-location-web {
          p.header-navbar-location-info {
            max-width: 120px;
          }
        }
      }
  
      .right {
        .link {
          padding-left: 20px;
  
          &:first-child {
            padding-left: 0;
          }
        }
  
        .nav-right-card-wish, .nav-right-card-share {
          margin-right: 5px;
          display: flex;
  
          >a {
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    top: 44px;
    &.category-opened {
      top: 0 !important;
    }
    .navbar-inner{
      .navbar-center{
        margin-left: 1%;
        .search-container{
          width: 100%;
          max-width: unset;
          .searchbar-inner{
            padding-right: 20px;
          }
        }
      }

    }
  }

  @media screen and (max-width: 850px) and (min-width: 568px){
    .navbar-inner{
      .left{
          .back{
            display: none !important;
          }
      }
      .navbar-center{
        display: flex;
        justify-content: flex-end;
        .search-container{
          width: unset;
        }
      }
      .right{
        margin-left: 0;
      }
    }
    &.search-bar-focused{
      .navbar-inner{
        .left{
          display: none;
        }
        .navbar-center{
          .search-container{
            width: 100%;
            form{
              z-index: 601;
              .searchbar-icon{
                display: block;
                left: 0;
              }
              .searchbar-inner{
                .searchbar-input-wrap{
                  input{
                    padding-left: 50px;
                  }
                }
                .searchbar-disable-button{
                  display: none !important;
                }
              }
            }
          }
          .open-categories-button{
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 678px) {
    .navbar-inner{
      .navbar-center{
        .open-categories-button{
          display: none;
        }
        .search-container{
          .search-bar-icon{
            margin-right: 15px;
          }
        }
      }
      .right{
        .profile-link{
          padding-left: 10px;
        }
      }
    }
  }
}