.add-wish {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  span{
    color: var(--base-80);
    margin-left: 9px !important;
    font-weight: 500;
    font-size: 15px;
  }
  i{
    font-size: 14px;
  }
  span{
    margin: 0 0 10px 4x;
    font-weight: 500;
    font-size: 15px;
    color: var(--base-80);
  }
  i{
    color: var(--base-80);
  }

  &.active{
    i{
      color: var(--brand-primary-40);
    }
  }
}
