.share-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  span{
    color: var(--base-80);
    margin-left: 9px !important;
    font-weight: 500;
    font-size: 15px;
  }
  i{
    font-size: 14px;
  }
}
