#dropdown {
  position: relative;

  .dropdown-inner {
    position: relative;
    padding: 0 12px;
    background-color: #EDEDED;
    border-radius: 12px;
    cursor: pointer;
    overflow-x: hidden;

    &.open {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid #727272;
    }

    .label {
      padding-top: 6px;
      position: relative;
      font-size: var(--f7-label-font-size);
      color: var(--f7-input-placeholder-color);
      transition: transform, .2s;
      transform-origin: left center;
      transform: scale(var(--f7-floating-label-scale)) translateY(calc((var(--f7-input-height) / 2.7) / var(--f7-floating-label-scale)));

      &.opened {
        color: var(--f7-label-focused-text-color, var(--f7-theme-color));
      }

      &.moveUp {
        color: var(--f7-label-text-color);
        transform: scale(1) translateY(0);
      }

      &.show-error {
        padding-top: 0;
        color: var(--f7-label-invalid-text-color, var(--f7-input-error-text-color));
      }
    }

    .value {
      height: 20px;
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 8px;
      font-size: var(--f7-list-font-size);
      color: var(--f7-text-color);

      &.show-error {
        height: 0;
      }
    }

    .error-message {
      margin-top: 5px;
      padding-bottom: 6px;
      color: var(--f7-input-error-text-color);
    }
  }

  ul {
    width: 100%;
    position: absolute;
    z-index: 999999999;
    margin: 0;
    padding: 8px 0;
    background-color: #FCFCFC;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);

    li {
      box-sizing: border-box;
      height: 40px;
      position: relative;
      padding: 8px 16px;
      list-style: none;
      font-size: 15px;
      color: #202020;
      cursor: pointer;
      transition: all .4s;

      display: flex;
      align-items: center;

      &:hover {
        background-color: #EDEDED
      }

      &.active {
        font-weight: 500;

        &:after {
          content: '';
          width: 24px;
          height: 24px;
          position: absolute;
          right: 16px;
          background-image: url("./ic-read-sent.svg");
        }
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
