#country-select {
  .country-select {
    &__control {
      display: block;
      height: 52px;
      border: none;
      overflow: hidden;
      background-color: #EDEDED;
      border-radius: 12px;
      box-shadow: none;
      cursor: pointer;

      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #727272;
      }

      &--is-focused {
        .country-select {
          &__value-container {
            position: relative;

            &:after {
              content: '';
              width: 200%;
              height: 2px;
              background-color: var(--f7-theme-color);
              position: absolute;
              bottom: 1px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &__placeholder {
            color: var(--f7-label-focused-text-color, var(--f7-theme-color));
            transform: scale(1) translateY(0);
          }

          &__option {
            background-color: blue;
          }
        }
      }
    }

    &__value-container {
      display: block;
      padding: 0 12px;

      &--has-value {
        padding-top: 5px;

        .country-select__placeholder {
          color: var(--f7-label-text-color);
          transform: scale(1) translateY(0);
        }
      }
    }

    &__placeholder {
      position: static;
      font-size: var(--f7-label-font-size);
      color: var(--f7-input-placeholder-color);
      transition: transform, 0.2s;
      transform-origin: left center;
      transform: scale(var(--f7-floating-label-scale)) translateY(calc((var(--f7-input-height) / 1.7) / var(--f7-floating-label-scale)));
    }

    &__input {
      padding-bottom: 5px;
      font-size: var(--f7-input-font-size);
      color: var(--f7-input-text-color);
      //caret-color: var(--f7-theme-color);
      caret-color: transparent;
    }

    &__indicators {
      display: none;
    }

    &__single-value {
      margin-left: 0;
      top: 60%;

      img {
        display: none;
      }
    }

    &__menu {
      margin-top: 0;
      z-index: 2;

      &-is-open:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &__option {
      cursor: pointer;

      &--is-selected {
        color: var(--f7-text-color);
        background-color: #F8F8F8;
      }

      &--is-selected, &--is-focused, &:hover {
        background-color: #F8F8F8;
      }
    }
  }

  .custom-option {
    display: flex;
    align-items: center;
    font-size: var(--f7-input-font-size);

    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }
  }
}

.country-select {
  //overflow: hidden;
  background-color: #EDEDED;
  border-radius: 12px;
  cursor: pointer;

  &.error {
    position: relative;
    padding-bottom: 6px;

    .error-message {
      position: absolute;
      bottom: 6px;
      padding: 0 12px;
      color: var(--f7-input-error-text-color)
    }

    #country-select .country-select__control:after {
      top: calc(50% + 3px);
    }

    .country-select__placeholder {
      padding-top: 0;
      padding-bottom: 5px;
      color: var(--f7-input-error-text-color);
    }
  }
}
