& {
  @import url("../../node_modules/framework7/framework7.less");
  @import url("../../node_modules/framework7/components/dialog/dialog.less");
  @import url("../../node_modules/framework7/components/popup/popup.less");
  @import url("../../node_modules/framework7/components/login-screen/login-screen.less");
  @import url("../../node_modules/framework7/components/popover/popover.less");
  @import url("../../node_modules/framework7/components/actions/actions.less");
  @import url("../../node_modules/framework7/components/sheet/sheet.less");
  @import url("../../node_modules/framework7/components/preloader/preloader.less");
  @import url("../../node_modules/framework7/components/progressbar/progressbar.less");
  @import url("../../node_modules/framework7/components/accordion/accordion.less");
  @import url("../../node_modules/framework7/components/virtual-list/virtual-list.less");
  @import url("../../node_modules/framework7/components/tabs/tabs.less");
  @import url("../../node_modules/framework7/components/panel/panel.less");
  @import url("../../node_modules/framework7/components/card/card.less");
  @import url("../../node_modules/framework7/components/chip/chip.less");
  @import url("../../node_modules/framework7/components/form/form.less");
  @import url("../../node_modules/framework7/components/input/input.less");
  @import url("../../node_modules/framework7/components/checkbox/checkbox.less");
  @import url("../../node_modules/framework7/components/radio/radio.less");
  @import url("../../node_modules/framework7/components/toggle/toggle.less");
  @import url("../../node_modules/framework7/components/smart-select/smart-select.less");
  @import url("../../node_modules/framework7/components/grid/grid.less");
  @import url("../../node_modules/framework7/components/picker/picker.less");
  @import url("../../node_modules/framework7/components/infinite-scroll/infinite-scroll.less");
  @import url("../../node_modules/framework7/components/pull-to-refresh/pull-to-refresh.less");
  @import url("../../node_modules/framework7/components/lazy/lazy.less");
  @import url("../../node_modules/framework7/components/data-table/data-table.less");
  @import url("../../node_modules/framework7/components/fab/fab.less");
  @import url("../../node_modules/framework7/components/searchbar/searchbar.less");
  @import url("../../node_modules/framework7/components/swiper/swiper.less");
  @import url("../../node_modules/framework7/components/photo-browser/photo-browser.less");
  @import url("../../node_modules/framework7/components/notification/notification.less");
  @import url("../../node_modules/framework7/components/autocomplete/autocomplete.less");
  @import url("../../node_modules/framework7/components/tooltip/tooltip.less");
  @import url("../../node_modules/framework7/components/skeleton/skeleton.less");
  @import url("../../node_modules/framework7/components/typography/typography.less");
  @import url("../../node_modules/framework7/components/stepper/stepper.less");
  @import url("../../node_modules/framework7/components/text-editor/text-editor.less");

  @import url("./data-table-custom.less");

  @includeIosTheme: true;
  @includeMdTheme: true;
  @includeAuroraTheme: false;
  @includeDarkTheme: true;
  @includeLightTheme: true;
}
