#product_create {
  .product-type-btn-group {
    .link {
      overflow: hidden;
      border-radius: var(--f7-chip-height);
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .chip {
      margin: 0;
      height: 40px;
      padding: 10px 12px;
      font-size: 14px;
      color: #333333;
      background-color: #f0f0f0;

      &.select {
        background-color: #ef5d54;
        color: #ffffff;
      }
    }
  }

  .text-editor-toolbar {
    border: 0;
  }

  .text-editor-toolbar {
    background-color: #efefef;
    border-radius: 8px;
  }

  .text-editor-content {
    height: 200px;
  }

  .hide-text-editor-info .item-input-info {
    display: none;
  }

  .delivery-methods {
    .item-after {
      height: 100%;
    }
  }
}

#add_delivery_options__sheet {
  .delivery-methods {
    .selected {
      opacity: 0.6;
    }

    .item-media {
      align-self: flex-start;
    }
  }
}

#add_pickup_point__popup {
  .list {
    .address-item {
      .item-title {
        white-space: normal;
      }

      .item-input-error-message {
        display: block;
        padding-left: calc(
          var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)
        );
        position: relative;
      }
    }
  }
}

.select-category-subcategory-sheet {
  .category-item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 157, 90);

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
.item-add-link{
  color: var(--brand-primary-40);
}
.toggle {
    position: relative;
    display:flex;
    justify-content: left;
}