.video-preview-item {
  .item-media {
    width: 64px;
    height: 64px;
    background-color: var(--base-10);
    border-radius: 12px;
    overflow: hidden;
    margin: 8px 0;

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
      background-color: var(--base-10);
      transform: scale(1.5);
    }
  }

  .item-title {
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: var(--base-110);
    }

    .subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--base-80);
    }

    svg {
      float: left;
      margin-right: 8px;
      height: 22px;
    }
  }
}
