.description {
  overflow: hidden;

  .link.more {
    color: var(--f7-theme-color);
  }
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--f7-block-title-medium-text-color);
  margin-bottom: calc(var(--f7-block-margin-vertical) / 2);

  &.subcategory {
    color: var(--f7-theme-color);

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: rtl;
      text-align: left;
    }
  }

  &.posted {
  }
}

.data-table.technical-details {  
  td,
  th {
    padding: 0;
  }
  td {
    min-height: 38px;
  }
  td:not(.checkbox-cell):before {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--base-120);
  }
}

.view-details,
.wish-details {
  align-items: center;
  display: flex;
  position: relative;

  .icon {
    margin-right: 4px;
    margin-top: 2px;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #676767;
    vertical-align: middle;
    font-style: normal;
    position: relative;
  }
}

.product-status{
  text-align: center;
  display: inline-block;
  span{
    padding: 2px 6px;
    border-radius: 2px;
    text-align: center;
  }
  &.DRF, &.CLT{
    color: #676767;
    background-color: #6767671c;
  }
  &.PBL, &.APR, &.SHP{
    color: #36AC50;
    background-color: #36ac501c;
  }
  &.EXP, &.DLT, &.DCL, &.OOS{
    color: #ff0000;
    background-color: #ff00001c;
  }
  &.AWP, &.AFR{
    color: #BD7E14;
    background-color: #BD7E141c;
  }
  &.FRB, &.DSC, &.SUS{
    color: #6266C2;
    background-color: #6266C21c;
  }
}
