.list .text-editor ul {
    list-style: disc;
}
#product_create .text-editor-toolbar {
    background-color: var(--base-0) !important;
}
.lenght-number {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
