#phone-code-select {
  min-width: 115px;

  .phone-code-select {
    &__control {
      height: 52px;
      border: none;
      overflow: hidden;
      background-color: #EDEDED;
      border-radius: 12px;
      box-shadow: none;
      cursor: pointer;

      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #727272;
      }

      &--menu-is-open:after {
        transform: translateY(-50%) rotate(180deg);
      }

      &--is-focused {
        .phone-code-select {
          &__value-container {
            position: relative;

            &:after {
              content: '';
              width: 200%;
              height: 2px;
              background-color: var(--f7-theme-color);
              position: absolute;
              bottom: 1px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &__placeholder {
            margin: 4px 0 2px 0;
            color: var(--f7-label-focused-text-color, var(--f7-theme-color));
            transform: scale(1) translateY(0);
          }
        }
      }
    }

    &__value-container--has-value {
      padding-top: 2px;

      .phone-code-select__placeholder {
        margin: 6px 0;
        color: var(--f7-label-text-color);
        transform: scale(1) translateY(0);
      }
    }

    &__placeholder {
      position: static;
      margin: 0;
      font-size: var(--f7-label-font-size);
      color: var(--f7-input-placeholder-color);
      transition: transform, 0.2s;
      transform-origin: left center;
      transform: scale(var(--f7-floating-label-scale)) translateY(calc((var(--f7-input-height) / 1.7) / var(--f7-floating-label-scale)));
    }

    &__value-container {
      display: block;
      padding: 0 12px;
    }

    &__input {
      font-size: var(--f7-input-font-size);
      color: var(--f7-input-text-color);
      caret-color: var(--f7-theme-color);
    }

    &__indicators {
      display: none;
    }

    &__single-value {
      margin-left: 0;
      top: 60%;
    }

    &__menu {
      display: block;
      margin-top: 0;
      z-index: 2;
    }

    &__option {
      padding: 8px 3px;
      cursor: pointer;

      &--is-selected {
        color: var(--f7-text-color);
        background-color: #F8F8F8;
      }

      &--is-selected, &--is-focused, &:hover {
        background-color: #F8F8F8;
      }
    }
  }

  .custom-option {
    display: flex;
    align-items: center;

    .flag {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    .text-value {
      width: 55px;
      text-align: center
    }
  }
}
