.register-popup {
  --f7-popup-border-radius: 15px;
}

.register-form-list,
.register-form-block {
  margin-top: 0;
  margin-bottom: 0;
}

.register-form-list {
  display: none;
}

.form-list-visible {
  display: block;
}

.accept-checkbox {
  margin-top: 30px;
}

.accept-checkbox .item-title {
  white-space: normal !important;
  overflow: auto !important;
  text-overflow: inherit !important;
}

@media (min-height: 630px) and (min-width: 630px) {
  .register-popup {
    width: calc(var(--f7-popup-tablet-width) / 1.5) !important;
    margin-left: calc(-1 * calc(var(--f7-popup-tablet-width) / 1.5) / 2) !important;
  }
}
