.login-popup {
  --f7-popup-border-radius: 15px;
}

.sign-up-text {
  margin-top: 20px;
}

@media (min-height: 630px) and (min-width: 630px) {
  .login-popup {
    width: calc(var(--f7-popup-tablet-width) / 1.5) !important;
    height: calc(var(--f7-popup-tablet-height) / 1.5) !important;
    margin-left: calc(-1 * calc(var(--f7-popup-tablet-width) / 1.5) / 2) !important;
    margin-top: calc(-1 * calc(var(--f7-popup-tablet-height) / 1.5) / 2) !important;
  }
}
