@media screen and (max-width: 767px) {
  .add-company-information-navbar, .add-store-information-navbar {
    .navbar-bg, .title, .right {
      display: none;
    }
  }
}

#add_company_information_page, #add_store_information_page, #verify_business_account_page {
  --f7-list-bg-color: #FFFFFF;
  --f7-input-height: 26px;

  @media screen and (min-width: 1000px) {
    .page-content > .row {
      max-width: none;
    }
  }

  .main-content {
    max-width: 462px;
    margin: 0 auto;
    padding-bottom: 40px;

    @media screen and (max-width: 767px) {
      padding: 8px 16px 40px;
    }

    > h1, > p {
      margin: 0;
    }

    .block-inputs {
      > h2, > p {
        margin: 0;
      }
    }

    > p {
      font-size: 15px;
      color: #949494;
    }

    > h2 {
      font-size: 24px;
    }

    @media screen and (max-width: 767px) { // ios
      .list {
        ul {
          &:before, &:after {
            display: none;
          }
        }

        .item-inner:after {
          display: none;
        }
      }
    }
  }
}

#add_company_information_page, #add_store_information_page {
  .main-content {
    position: relative; //for mobile next button
  }

  .next-button {
    margin: 0 16px;
    .next-icon {
      margin: 0;
    }
  }

  .menu-steps {
    @media screen and (max-width: 767px) {
      display: none;
    }

    .list li {
      &.active {
        background-color: #EDEDED;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }

      .item-inner {
        justify-content: flex-start;
        padding-left: 40px;

        @media screen and (max-width: 1100px) {
          padding-left: 0;
        }

        .step-passed-icon {
          position: absolute;
          left: 0;
        }
      }
    }
  }

  .main-content {
    padding-top: 32px;
    padding-right: 12.75%;

    @media screen and (min-width: 768px) and (max-width: 1100px) {
      padding-right: 0;
    }

    @media screen and (max-width: 767px) {
      padding: 0 16px 40px;
    }

    > h1 {
      margin-bottom: 16px;
      font-size: 32px;

      @media screen and (max-width: 767px) {
        margin-bottom: 12px;
        font-size: 24px;
      }
    }

    > p {
      margin-bottom: 24px;
    }

    .block-inputs {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      > h2, > p {
        margin-bottom: 24px;
      }
    }

    .list {
      margin: 0;

      .item-content {
        padding-left: 0;
      }

      .item-inner {
        padding-right: 0;
        padding-bottom: 0;
      }

      .item-input-wrap {
        position: static;
      }

      .item-floating-label {
        transform: scale(var(--f7-floating-label-scale)) translateY(calc((var(--f7-input-height) / 2.7) / var(--f7-floating-label-scale)));
      }

      .item-input-with-value .item-floating-label, .item-input-focused .item-floating-label {
        transform: scale(1) translateY(0);
      }
    }

    .custom-dropdown {
      margin-bottom: 24px;

      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
      }
    }

    .custom-dropdown-row {
      flex: 1;
    }

    .list {
      ul, .inputs-row {
        > .info-input {
          min-height: 52px; // ios
          padding: 0 12px 3px;
          background-color: #EDEDED;
          border-radius: 12px;
          margin-bottom: 24px;

          @media screen and (max-width: 767px) {
            margin-bottom: 16px;
          }

          .item-input-wrap:after {
            display: none;
          }
        }
      }

      .inputs-row {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .info-input {
          flex: 1;
          margin-bottom: 0;
          list-style: none; // ios
          &::marker {
            content: none;
          }
          &:nth-child(2) {
            margin-left: 16px;
          }
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 16px;

          &.md-column {
            flex-direction: column;
            align-items: flex-start;

            .info-input, .custom-dropdown-row {
              width: 100%;

              &:first-child {
                margin-bottom: 16px;
              }

              &:nth-child(2) {
                margin-left: 0;
              }
            }
          }
        }

        .trash-icon {
          color: #CCCCCC;
        }
      }
    }

    .delete-link-button {
      margin: 0;
    }

    .add-link-button, .select-map-button {
      justify-content: flex-start;
      font-size: 15px;
      padding: 0;
      color: #EF5D54;
    }

    .pager-footer {
      display: flex;
      align-items: center;
      justify-content: center;


      > div {
        width: 12px;
        height: 5px;
        border-radius: 35%;
        background-color: #E6E6E6;

        &:first-child {
          margin-right: 4px;
        }

        &.active {
          background-color: var(--f7-theme-color);
        }
      }
    }

    .next-mobile {
      position: absolute;
      bottom: 25px;
      right: 0;
      padding: 0;
      color: var(--f7-theme-color);

      .next-icon {
        margin-left: 0;
      }
    }
  }
}

#add_company_information_page {
  .list {
    z-index: auto; // for phone-code dropdown
  }

  .main-content .block-inputs .h2-contacts {
    margin-bottom: 8px;
  }

  .select-map-button {
    margin-bottom: 16px;

    .icon {
      margin-left: 0;
    }
  }

  .privacy {
    display: flex;
    align-items: center;
    font-size: 15px;
    .icon-checkbox {
      margin-right: 16px;
    }
  }
}

.panel-right {
  width: 100vw;
}

#select-company-form-popup {
  height: 60vh;
  top: auto;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#add_store_information_page {
  .store-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    cursor: pointer;

    .store-image {
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      border-radius: 50%;
      background-color: #EDEDED;
    }
  }

  @media screen and (max-width: 767px) {
    .add-link-button {
      margin-bottom: 55px;
    }

    .prev-mobile {
      position: absolute;
      bottom: 25px;
      left: 0;
      padding: 0;
      color: #515151;

      .prev-icon {
        margin-right: 0;
      }
    }
  }
}

#verify_business_account_page {
  .row.resizable-fixed {
    height: 100%;

    .col-100 {
      height: 100%;

      .main-content {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > h2 {
          margin-bottom: 10px;
        }

        > p {
          margin-bottom: 14px;
          text-align: center;
        }
      }
    }
  }
}
