<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: * gap: content:; img-src * 'self' data: blob:; child-src * 'unsafe-inline' 'unsafe-eval' blob: cdvfile:;">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

  <meta name="theme-color" content="#007aff">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Marketspace</title>
  <% if (process.env.TARGET === 'web') { %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="static/icons/apple-touch-icon.png">
  <link rel="icon" href="static/icons/favicon.png">
  <link rel="manifest" href="/manifest.json">
  <% } %>
  <!-- built styles file will be auto injected -->
</head>
<body>
  <div id="app"></div>
  <% if (process.env.TARGET === 'cordova') { %>
  <script src="cordova.js"></script>
  <% } %>
  <script>
    /* Fix cctokenizer.js dependencies */
    window.$ = function() {};
    window.$.getScript = function(value) {
      console.log(value);
    };
  </script>
  <% if (process.env.CCTOKENIZER_URL) { %>
  <script src="<%=process.env.CCTOKENIZER_URL %>"></script>
  <% } %>
  <!-- built script files will be auto injected -->
</body>
</html>